<style type="text/css">
  
table {
  background: lightgray;
  border-collapse:separated;
  margin:5px; 
  border:white;
  padding: 10px; 
  table-layout: auto;
  display: table;
 
}

th,
thead {
  position: sticky;
  top: 0;
  border: 1px solid #dddddd;
  background-color:darkslategray;
  text-align: center;
  color: white;
  table-layout: fixed;
  word-break: break-word;
  height: 20px;
}

.filter {
  position: absolute;
  width: 20vw;
  height: 30vh;
  display: none;
  text-align: left;
  font-size: small;
  z-index: 9999;
  overflow: auto;
  background: #ffffff;
  color: #1f2d54;
  border: 1px solid #dddddd;
}

.filter input {
  margin: 5px !important;
  padding: 0 !important;
  width: 10%;
}

h5{

  color: darkgreen;
  font-size:xx-large;
}

td {
white-space: nowrap;
} 
</style>